<ul class="dependencies">
	{{#each dependencies}}
	<li class="dependencies--dependency">
		<p class="dependencies--dependency--name" data-dependecy="{{@key}}">{{@key}} ({{this}})</p>
		<div class="dependencies--dependency--children" data-dependencies-for="{{@key}}">
			<span class="loading">Loading </span>
		</div>
	</li>
	{{/each}}
</ul>